<div class="o-techdocs-card article-list">
	<div class="o-techdocs-card__context">
		<div class="o-techdocs-card__icon"><i class="fa fa-file-text-o"></i></div>
		<div class="o-techdocs-card__heading">
			<div class="o-techdocs-card__title">Recent articles</div>
		</div>
	</div>
	<div class="o-techdocs-card__actions">
		<div class="o-techdocs-card__quickactions">
			<button class="o-techdocs-card__actionbutton republish-status" onclick="republishAll();"><i class="fa fa-arrow-circle-up"></i> Re-post all articles to Facebook</button>
		</div>
		<div class="small">Quickly re-post all articles to Facebook. This will respect the current status of each article, and only update the HTML with any new features. No articles will be added or removed, and the 'live' status will not change.</div>
	</div>
	<div class="o-techdocs-card__content">
		<ul class="fa-ul article-list__items">
			{{#each articles}}
			<li>
				<i class="fa-li fa fa-hand-o-right"></i> <a href="/article/{{encodeURIComponent canonical}}">{{title}}</a>
				<ul class="article-list__status">
					<li>Content last updated: <strong title="{{rfcDate date_record_updated}}">{{relativeDate date_record_updated}}</strong></li>
					<li>Published on FT.com: <strong title="{{rfcDate date_editorially_published}}">{{relativeDate date_editorially_published}}</strong></li>
					{{#each fbRecords as |fbRecord mode|}}
						<li>
						{{#ifEqual mode "production"}}
							{{#if published}}
								Status: <span class="o-buttons o-buttons--small">PUBLISHED</span>
							{{else if nullRecord}}
								Status: <span class="o-buttons o-buttons--small">NOT PUBLISHED</span>
							{{else}}
								Status: <span class="o-buttons o-buttons--small">IN PREVIEW</span>
							{{/if}}
						{{/ifEqual}}
						{{#if imports.0.status}}
							Last import: <span class="o-buttons o-buttons--small"><strong>{{fbRecord.imports.0.status}}</strong></span> (<span title="{{rfcDate fbRecord.imports.0.timestamp}}">{{relativeDate fbRecord.imports.0.timestamp}}</span>)
						{{else if fbRecord.most_recent_import_status}}
							Last import: <span class="o-buttons o-buttons--small"><strong>{{fbRecord.most_recent_import_status.status}}</strong></span>
						{{/if}}
						</li>
						{{#if initialImport}}
						<li>Initial import: <span title="{{rfcDate initialImport.timestamp}}">{{relativeDate initialImport.timestamp}}</span>{{#if initialImport.username}} ({{initialImport.username}}){{/if}}</li>
						{{/if}}
					{{/each}}
				</ul>
			</li>
			{{/each}}
		</ul>
	</div>
</div>
