<div class="o-techdocs-card status-card {{@key}}-status-card" data-mode="{{@key}}">
	<div class="o-techdocs-card__context">
		<div class="o-techdocs-card__icon"><i class="fa fa-arrow-circle-o-up"></i></div>
		<div class="o-techdocs-card__heading">
			<div class="o-techdocs-card__title">
				{{#ifEqual @key "development"}}
				Preview
				{{else}}
				Publish
				{{/ifEqual}}
			</div>
			<div class="o-techdocs-card__subtitle">
				{{#ifEqual @key "development"}}
				Preview your Instant Article before it goes live. Once imported, it will be available to review in <a href="https://business.facebook.com/financialtimes/publishing_tools/?section=INSTANT_ARTICLES_DEVELOPMENT">Publishing Tools (Development)</a> and in the <em>Development</em> tab of the Pages mobile app.
				{{else}}
				Make an article available to Facebook users. Once imported, it will be available to review in <a href="https://business.facebook.com/financialtimes/publishing_tools/?section=INSTANT_ARTICLES">Publishing Tools (Production)</a>  and in the <em>Production</em> tab of the Pages mobile app.
				{{/ifEqual}}
			</div>
		</div>
	</div>

	<div class="o-techdocs-card__content">
		<ul>
			<li class="{{@key}}-publish-status">
				<span class="{{@key}}-publish-status-text">
				{{#if published}}
					Published
				{{else}}
					Not published
				{{/if}}
				</span>
			</li>
		</ul>
	</div>

	<div class="o-techdocs-card__actions">
		<div class="mode-actions">
			{{#if date_published}}
			<button class="o-techdocs-card__actionbutton" disabled="disabled"><i class="fa fa-trash-o"></i> Pending...</button>
			{{else}}
			<button class="o-techdocs-card__actionbutton" onclick="setPublishState('{{@key}}', true);"><i class="fa fa-arrow-circle-up"></i> Publish</button>
			{{/if}}
		</div>
	</div>
</div>
