<div class="o-techdocs-card article-status-card" data-uuid="{{uuid}}">
	<div class="o-techdocs-card__context">
		<div class="o-techdocs-card__icon"><i class="fa fa-file-text-o"></i></div>
		<div class="o-techdocs-card__heading">
			<div class="o-techdocs-card__title">{{title}}</div>
			<div class="o-techdocs-card__subtitle">{{uuid}}</div>
		</div>
	</div>
	<div class="o-techdocs-card__content">
		<ul>
			<li>Published on FT.com: <strong title="{{date_editorially_published}}">{{date_editorially_published_formatted}}</strong></li>
			<li>Instant Article last updated: <strong title="{{date_record_updated}}">{{date_record_updated_formatted}}</strong></li>
		</ul>
	</div>
</div>

{{#each feeds}}
	{{> article-feed-status .}}
{{/each}}
