{{#each articles as |list mode|}}
{{#if list.length}}
<div class="o-techdocs-card article-list">
	<div class="o-techdocs-card__context">
		<div class="o-techdocs-card__icon"><i class="fa fa-file-text-o"></i></div>
		<div class="o-techdocs-card__heading">
			<div class="o-techdocs-card__title">
			{{#ifEqual mode "development"}}
			Previewed articles
			{{else ifEqual mode "production"}}
			Published articles
			{{else}}
			Other articles
			{{/ifEqual}}
			</div>
		</div>
	</div>
	<div class="o-techdocs-card__content">
		<ul class="fa-ul article-list__items">
			{{#each list}}
			<li>
				<i class="fa-li fa fa-hand-o-right"></i> <a href="/{{uuid}}">{{title}}</a>
				<div class="article-list__status">
					<span class="o-buttons o-buttons--small">Published on FT.com: <strong title="{{rfcDate date_editorially_published}}">{{relativeDate date_editorially_published}}</strong></span>
					{{#if date_published}}<span class="o-buttons o-buttons--small">Added to mode: <strong title="{{rfcDate date_published}}">{{relativeDate date_published}}</strong></span>{{/if}}
					{{#if date_imported}}<span class="o-buttons o-buttons--small">Imported by Facebook: <strong title="{{rfcDate date_imported}}">{{relativeDate date_imported}}</strong></span>{{/if}}
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</div>
{{/if}}
{{/each}}
