<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{#if title}}{{title}} - {{/if}}FT Facebook Instant Articles Tool</title>
		<link rel="stylesheet" href="//build.origami.ft.com/v2/bundles/css?modules=o-header%404.0.0%2Co-techdocs%405.0.1%2Co-colors%403.3.1%2Co-fonts%402.1.1%2Co-forms%402.0.0%2Co-buttons%403.1.1%2Co-autoinit%401.2.0&shrinkwrap=ftdomdelegate%402.0.3%2CFinancial-Times/highlight.js-shim@5eb4727ba777e7683140de72ba01468e81639827%2Clodash%403.10.1-npm%2Co-assets%402.0.0%2Co-dom%402.0.0%2Co-ft-icons%403.3.3%2Co-grid%404.0.7%2Co-hierarchical-nav%403.1.0%2Co-hoverable%403.0.0%2Co-layers%402.0.1%2Co-squishy-list%402.0.0%2Co-viewport%402.0.0%2Csass-mq%403.2.9" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body class="o-techdocs o-colors-page-text">
		<header data-o-component="o-header" class="o-header">
			<div class="o-header__container">
				<div class="o-header__primary">
					<div class="o-header__primary__left">
						<a href="/" class="o-header__logo o-header__logo--ft">
							<abbr title="Financial Times">FT</abbr>
							<h1 class="o-header__title">Facebook Instant Articles Tool</h1>
						</a>
					</div>
				</div>
				<div class="o-header__secondary">{{#if title}}<div class="subheading">{{title}}</div>{{/if}}</div>
				</div>
			</div>
		</header>

		<div class="content-area">
			{{{body}}}
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="//build.origami.ft.com/v2/bundles/js?modules=o-header%404.0.0%2Co-techdocs%405.0.1%2Co-autoinit%401.2.0&shrinkwrap=ftdomdelegate%402.0.3%2CFinancial-Times/highlight.js-shim@5eb4727ba777e7683140de72ba01468e81639827%2Clodash%403.10.1-npm%2Co-assets%402.0.0%2Co-colors%403.3.1%2Co-dom%402.0.0%2Co-ft-icons%403.3.3%2Co-grid%404.0.7%2Co-hierarchical-nav%403.1.0%2Co-hoverable%403.0.0%2Co-layers%402.0.1%2Co-squishy-list%402.0.0%2Co-viewport%402.0.0%2Csass-mq%403.2.9"></script>

		<script src="//cdn.jsdelivr.net/g/momentjs@2.12.0,handlebarsjs@4.0.5(handlebars.runtime.min.js)"></script>
		<script>
			(function setupTemplating() {
				'use strict';

				Handlebars.templates = Handlebars.partials = Handlebars.templates || {};
				Handlebars.partials = Handlebars.templates;

				{{#templates}}
					Handlebars.templates['{{{name}}}'] = {{{template}}};
				{{/templates}}

				{{#helpers}}
					{{{this}}};
				{{/helpers}}
			})();
		</script>

		<script src="/script.js"></script>
	</body>
</html>
