<!doctype html>
<html lang="en" prefix="op: http://media.facebook.com/op#">
	<head>
		<meta charset="utf-8">
		<link rel="canonical" href="{{canonicalUrl}}">
		<meta property="op:markup_version" content="v1.0">
		{{#if tags}}<meta property="op:tags" content="{{tags}}">{{/if}}
		<meta property="fb:article_style" content="{{style}}">
	</head>
	<body>
		<article>
			<header>
				{{#if mainImageHtml}}{{{mainImageHtml}}}{{/if}}

				<h1>{{title}}</h1>
				{{#if subtitle}}<h2>{{subtitle}}</h2>{{/if}}

				<time class="op-published" datetime="{{rfcDate date_published}}">{{shortDate date_published}}</time>
				<time class="op-modified" datetime="{{rfcDate date_updated}}">{{shortDate date_updated}}</time>

				{{#each authors}}
				<address>
					<a>{{this}}</a>
				</address>
				{{/each}}

			</header>

			{{#if analyticsUrl}}
			<figure class="op-tracker">
				<iframe src="{{analyticsUrl}}"></iframe>
			</figure>
			{{/if}}

			{{#if cookieChecker}}
				<p>Dev-only cookie checker (not shown in live). <a href="http://facebookinstant.ft.com/dev/showCookies">List all cookies</a>. <a href="http://facebookinstant.ft.com/dev/clearCookies">Clear all cookies</a></p>
			{{/if}}

			{{{body}}}

			<figure class="op-ad">
			    <iframe src="http://html5doctor.com/demos/forms/forms-example.html" height="400" width="320"></iframe>
			</figure>

			<footer>
				{{#if relatedArticles.length}}{{> related-articles relatedArticles}}{{/if}}

				<small><a href="http://www.ft.com/servicestools/help/copyright">Copyright</a> The Financial Times Limited 2016. All rights reserved. Please don't cut articles from FT.com and redistribute by email or post to the web.</small>
			</footer>
		</article>
	</body>
</html>
