<!doctype html>
<html lang="en" prefix="op: http://media.facebook.com/op#">
	<head>
		<meta charset="utf-8">
		<link rel="canonical" href="{{canonicalUrl}}">
		<meta property="op:markup_version" content="v1.0">
		{{#if tags}}<meta property="op:tags" content="{{tags}}">{{/if}}
		<meta property="fb:article_style" content="{{style}}">
		{{#if advert}}
			<meta property="fb:use_automatic_ad_placement" content="true">
		{{/if}}
	</head>
	<body>
		<article>
			<header>
				{{#if mainImageHtml}}{{{mainImageHtml}}}{{/if}}

				<h1>{{title}}</h1>
				{{#if subtitle}}<h2>{{subtitle}}</h2>{{/if}}

				<time class="op-published" datetime="{{rfcDate date_published}}">{{shortDate date_published}}</time>
				<time class="op-modified" datetime="{{rfcDate date_updated}}">{{shortDate date_updated}}</time>

				{{#each authors}}
				<address>
					<a>{{this}}</a>
				</address>
				{{/each}}

				{{#if advert}}
					<figure class="op-ad">
						<iframe src="http://pubads.g.doubleclick.net/gampad/adx?iu=/5887/distributed.content/fb.ft.instant/technology&amp;sz=300x250&amp;scp=pos%3Dmid&amp;tile=1" height="250" width="300"></iframe>
					</figure>
				{{/if}}

			</header>


			{{#if analyticsUrl}}
			<figure class="op-tracker">
				<iframe src="{{analyticsUrl}}"></iframe>
			</figure>
			{{/if}}

			{{#if cookieChecker}}
			<figure class="op-interactive">
				<iframe width="320" height="320">
					<style>
						body {
							font-size: 20px;
							background-color: lightblue;
						}
					</style>
					<p>Dev-only cookie checker (not shown in live). <a href="http://facebookinstant.ft.com/dev/showCookies">List all cookies</a>. <a href="http://facebookinstant.ft.com/dev/clearCookies">Clear all cookies</a></p>
					<pre class="cookies"></pre>
					<script>
						var cookies = document.cookie.split(';');
						var mapped = cookies.map(function(cookie) {
							return {
								key: cookie.slice(0, cookie.indexOf('=')),
								val: cookie.slice(cookie.indexOf('=') + 1),
							};
						});
						document.querySelector('.cookies').innerHTML = mapped.map(function(cookie) {
							return cookie.key + ': ' + cookie.val;
						})
						.join('\n');
					</script>
				</iframe>
			</figure>
			{{/if}}

			{{{body}}}

			<footer>
				{{#if relatedArticles.length}}{{> related-articles relatedArticles}}{{/if}}

				<small>
					<a href="http://www.ft.com/servicestools/help/copyright">Copyright</a> The Financial Times Limited 2016. All rights reserved. Please don't cut articles from FT.com and redistribute by email or post to the web. <br /><br />
					The Financial Times and its journalism are subject to a self-regulation regime under the <a href="http://www.ft.com/editorialcode">FT Editorial Code of Practice</a>.
				</small>
			</footer>
		</article>
	</body>
</html>
