<form target="/" onsubmit="submitForm(); return false" class="urlform o-forms">
	<div class="o-forms-group js-url-group">
		<label class="o-forms-label" for="url">Enter the article UUID or URL to process:</label>
		<div class="o-forms-affix-wrapper url-wrapper">
			<input type="text" id="url" class="o-forms-text" {{#if article.canonical}}value="{{article.canonical}}"{{/if}}/>
			<div class="o-forms-suffix">
				<button type="button" class="o-buttons js-url-submission-button" onclick="submitForm();">Process</button>
			</div>
		</div>
		<div class="o-forms-errortext js-url-error"></div>
	</div>
</form>

<div class="article-status-container">
{{#if article}}{{> article-status article}}{{/if}}
</div>

<div class="article-list-container">
{{#if articles}}{{> article-list}}{{/if}}
</div>

{{#if testUuids}}
<div class="o-techdocs-card">
	<div class="o-techdocs-card__context">
		<div class="o-techdocs-card__icon"><i class="fa fa-cogs"></i></div>
		<div class="o-techdocs-card__heading">
			<div class="o-techdocs-card__title">Test articles</div>
			<div class="o-techdocs-card__subtitle">Only shown on development systems</div>
		</div>
	</div>
	<div class="o-techdocs-card__content">
		<ul class="fa-ul">
			{{#each testUuids}}
				<li><i class="fa-li fa fa-hand-o-right"></i> <a class="article-test-link" href="/article/{{uuid}}">{{description}}</a></li>
			{{/each}}
		</ul>
	</div>
</div>
{{/if}}
