<div class="o-techdocs-card article-status-card" data-uuid="{{uuid}}">
	<div class="o-techdocs-card__context">
		<div class="o-techdocs-card__icon"><i class="fa fa-file-text-o"></i></div>
		<div class="o-techdocs-card__heading">
			<div class="o-techdocs-card__title">{{title}}</div>
			<div class="o-techdocs-card__subtitle">{{uuid}}</div>
		</div>
	</div>
	<div class="o-techdocs-card__content">
		{{#errors.length}}
			<div class="conversion-errors">
				<h4>Article processing failed.</h4>
				<ul class="fa-ul">
					{{#errors}}
						<li><i class="fa-li fa fa-times-circle"></i> {{.}}</li>
					{{/errors}}
				</ul>
			</div>
		{{/errors.length}}
		{{^errors.length}}
			<h4>Article processing succeeded.</h4>
		{{/errors.length}}
		{{#warnings.length}}
			<div class="conversion-warnings">
				<p>Warnings were encountered during processing:</p>
				<ul class="fa-ul">
					{{#warnings}}
						<li><i class="fa-li fa fa-exclamation-triangle"></i> {{.}}</li>
					{{/warnings}}
				</ul>
			</div>
		{{/warnings.length}}
		{{^warnings.length}}
			<p><i class="fa fa-thumbs-up"></i> No errors or warnings were encountered.</p>
		{{/warnings.length}}
	</div>
	<div class="o-techdocs-card__actions">
		{{^errors.length}}
			<a href="/{{uuid}}.zip" class="o-techdocs-card__actionbutton"><i class="fa fa-archive"></i> Download zip file</a>
			{{#IS_DEV}}
				<a onclick="localArticleAction(this, 'preview')" class="o-techdocs-card__actionbutton"><i class="fa fa-eye"></i> Open in News Preview</a>
				<a onclick="localArticleAction(this, 'showfolder')" class="o-techdocs-card__actionbutton"><i class="fa fa-folder"></i> Open Folder</a>
			{{/IS_DEV}}
		{{/errors.length}}
	</div>
</div>

{{#targets}}{{{.}}}{{/targets}}
