<div class="o-techdocs-card status-card {{feed}}-status-card" data-feed="{{feed}}" data-uploaded="{{uploaded}}">
	<div class="o-techdocs-card__context">
		<div class="o-techdocs-card__icon"><i class="fa fa-arrow-circle-o-up"></i></div>
		<div class="o-techdocs-card__heading">
			<div class="o-techdocs-card__title">{{capitalizeFirst feed}} feed</div>
		</div>
	</div>

	<div class="o-techdocs-card__content">
		<div class="{{feed}}-status">
			<i class="fa {{feed}}-status-icon"></i>
			Status: <span class="{{feed}}-status-text">{{status}}</span>
		</div>
	</div>

	<div class="o-techdocs-card__actions">
		<div class="feed-actions"></div>
	</div>
</div>
