<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{#if title}}{{title}} - {{/if}}FT Facebook Instant Articles Tool</title>
		<link rel="stylesheet" href="//build.origami.ft.com/v2/bundles/css?modules=o-header@^4,o-techdocs@^5,o-colors@^3,o-fonts@^2,o-forms@^2,o-buttons@^3" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body class="o-techdocs o-colors-page-text">
		<header data-o-component="o-header" class="o-header">
			<div class="o-header__container">
				<div class="o-header__primary">
					<div class="o-header__primary__left">
						<a href="/" class="o-header__logo o-header__logo--ft">
							<abbr title="Financial Times">FT</abbr>
							<h1 class="o-header__title">Apple News Tool</h1>
						</a>
					</div>
				</div>
				<div class="o-header__secondary">{{#if title}}<div class="subheading">{{title}}</div>{{/if}}</div>
				</div>
			</div>
		</header>

		<div class="content-area">
			{{{body}}}
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="//build.origami.ft.com/v2/bundles/js?modules=o-header@^4,o-techdocs@^5"></script>
		<script src="/script.js"></script>
	</body>
</html>
