#!/bin/bash
export API_V1_KEY="blah"
export AWS_ACCESS_KEY="blah"
export AWS_SECRET_ACCESS_KEY="blah"
export BRIGHTCOVE_ACCOUNT_ID="blah"
export ELASTIC_SEARCH_DOMAIN="blah"
export ES_INTERFACE_API_KEY="blah"
export FB_APP_ID="blah"
export FB_APP_SECRET="blah"
export FB_INITIAL_USER_ID="blah"
export FB_PAGE_ACCESS_TOKEN="blah"
export FB_PAGE_ID="blah"
export HTTP_AUTH_PASS="blah"
export PAPERTRAIL_API_TOKEN="blah"
export SEGMENT_ID="blah"
export SENTRY_DSN="blah"
export SPOOR_API_KEY="blah"
export REDIS_URL="redis://user:pass@domain:port/"
export NODE_ENV="development"
export S3_ACCESS_KEY_ID="blah"
export S3_SECRET_ACCESS_KEY="blah"
export S3_REGION="blah"
export S3_BUCKET="blah"
export S3_REMOTE_PATH="blah"
export ENABLE_INSIGHTS_FETCH="true"
