#!/bin/bash
export AWS_ACCESS_KEY="FOOBAR"
export AWS_SECRET_ACCESS_KEY="FOOBAR"
export ELASTIC_SEARCH_DOMAIN="blah.amazonaws.com"
export ES_INTERFACE_API_KEY="asd"
export REDIS_URL="redis://user:pass@domain:port/"
export NODE_ENV="development"
export API_V1_KEY="blah"
export FB_PAGE_ID="blah"
export FB_APP_ID="blah"
export FB_PAGE_ACCESS_TOKEN="blah"
